@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(images/patt.png);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.row:after, .menu:after {
    content: "";
    display: block;
    clear: both;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33%;
}

.col-6 {
    width: 50%;
}

.col-8 {
    width: 66%;
}

.col-9 {
    width: 75%;
}

.col-12 {
    width: 100%;
}

.logo {
    margin-top: 7px;
}

.menu li {
    width: 25%;
    float: left;
    border-left: 1px solid #2c71b8;
}

.menu li:last-child {
    border-right: 1px solid #2c71b8;
}

.menu a {
    display: block;
    height: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #2c71b8;
    font-size: 21px;
}

.menu li:hover > a {
    color: white;
    background-color: #2c71b8;
}

.submenu {
    position: relative;
}

.dropdown {
    background-color: #2c71b8;
    height: 315px;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 286px;
    position: absolute;
    left: -1px;
    display: none;
}

.dropdown>li {
    width: 286px;
    float: none;
    border: none;
}

.dropdown a {
    display: block;
    height: 40px;
    text-align: left;
    line-height: 40px;
    color: white;
    padding-left: 28px;
    padding-right: 28px;
}

.dropdown li>a:hover {
    color: #2c71b8;
    background-color: white;
}

.menu>li:hover .dropdown {
    display: block;
}

.search {
    position: relative;
    height: 38px;
}

input {
    height: 38px;
    border: 1px solid #2c71b8;
    padding: 4px 36px 4px 18px;
    width: 100%;
    font-size: 21px;
    outline: none;
    color: #2c71b8;
}

::placeholder {
    color: #2c71b8;
    font-size: 21px;
}

.search-button {
    background-color: #2c71b8;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 4px;
    right: 4px;
    border: none;
}

.cart {
    background-color: white;
    position: relative;
    width: 40px;
    height: 40px;
    padding: 10px;
}

.product-count {
    background-color: #2c71b8;
    border-radius: 50%;
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 5px;
    top: -10px;
    left: -6px;
    font-size: 12px;
    text-align: center;
    color: white;
}

.slider {
    height: 400px;
}

.breadcrumbs {
    margin-top: 20px;
    margin-bottom: 15px;
}

.breadcrumbs li {
    float: left;
}

.breadcrumbs li:last-child {
    text-decoration: underline;
}

.breadcrumbs a {
    display: block;
    text-align: left;
    color: #96b8dc;
    text-decoration: none;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}

.breadcrumbs > ul:after {
    content: "";
    display: block;
    clear: both;
}


.arrow {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url(images/right_arrow_icon.png);
    background-repeat: no-repeat;
    position: absolute;
}

h1 {
    color: white;
    font-size: 48px;
    font-weight: bold;
}

.sort-block {
    padding-bottom: 37px;
}

.product-sort {
    width: 268px;
    border: 1px solid white;
    background-color: #2c71b8;
    position: relative;
    margin-bottom: 50px;
}

.product-sort a {
    display: block;
    height: 40px;
    text-align: left;
    line-height: 40px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}

.product-sort a:hover {
    background-color: white;
    color: #2c71b8;
}

.product-sort li:hover .product-sort-list {
    display: block;
}

.product-sort-list {
    display: none;
    position: absolute;
    border: 1px solid white;
    background-color: #2c71b8;
    width: 268px;
    left: -1px;
    z-index: 2;
}

.product-sort-list li>a:hover {
    background-color: white;
    color: #2c71b8;
}

.product-images {
    background-color: #cadbed;
    width: 267px;
    height: 180px;
    text-align: center;
    position: relative;
}
.product-images > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.zoom,
.like {
    border: 1px solid #548cc5;
    width: 30px;
    height: 30px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 4px;
    cursor: pointer;
}

.zoom {
    top: 10px;
    right: 10px;
    padding: 4px;
    background-image: url(images/zoom.png);
}
.zoom:hover {
    background-image: url(images/white-zoom.png);
    background-color: #2c71b8;
}

.like {
    top: 50px;
    right: 10px;
    padding: 5px;
    background-image: url(images/like.png);
}
.like:hover {
    background-image: url(images/like-white.png);
    background-color: #2c71b8;
}

.product-body {
    border: 1px solid white;
    padding: 15px 15px 30px 15px;
}

.product-title {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.product-features > span {
    font-size: 21px;
    font-weight: bold;
    color: white;
    padding-top: 15px;
    text-transform: uppercase;
}

.product-description,
.product-features {
    font-size: 21px;
    color: white;
    font-weight: normal;
    padding-top: 15px;
}

.product-price {
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 15px;
}

.product-price > span {
    vertical-align: super;
    font-size: 25px;
}

.btn {
    width: 210px;
    height: 50px;
    color: white;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 15px 10px 0px 10px;
    background-color: #2c71b8;
    border: 1px solid white;
    cursor: pointer;
}
.btn:hover {
    background-color: #568dc6;
    border: none;
}

.product {
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn-add-to-cart {
    background-image: url(images/bascket-white.png);
    background-repeat: no-repeat;
    background-position: bottom 16px right 10px;
}

input[type="checkbox"] {
    display: none;
}

label {
    position: relative;
    color: white;
    font-size: 21px;
    padding-left: 25px;
    cursor: pointer;
}

label:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 7px;
}

input[type="checkbox"]:checked + label:before {
    background-color: white;
}

.checkbox {
        margin-top: 10px;
        height: 30px;
}

.filter {
    padding: 30px 15px 15px 15px;
}

h2 {
    color: white;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    color: white;
    font-size: 21px;
}

.filter-show-more {
    text-align: center;
    margin-bottom: 15px;
    margin-top: -30px;
}

.filter-type {
    margin-bottom: 50px;
}

.filter-title {
    margin-bottom: 25px;
}